
    <form [formGroup]="carrierForm" (ngSubmit)="onSubmitForm()">
        <span class="ui-float-label form_carrier">
            <input type="text" pInputText id="name" formControlName="name">
            <label for="name">Nom</label>
        </span>
        <span class="ui-float-label form_carrier">
            <input type="text" pInputText id="streetOne" formControlName="streetOne">
            <label for="streetOne">Rue 1</label>
        </span>
        <span class="ui-float-label form_carrier">
            <input type="text" pInputText id="streetTwo" formControlName="streetTwo">
            <label for="streetTwo">Rue 2</label>
        </span>
        <span class="ui-float-label form_carrier">
            <input type="text" pInputText id="cityCode"formControlName="cityCode" >
            <label for="cityCode">Code postale</label>
        </span>
        <span class="ui-float-label form_carrier">
            <input type="text" pInputText id="city" formControlName="city">
            <label for="city">Ville</label>
        </span>
        <span class="ui-float-label form_carrier">
            <input type="text" pInputText id="phone" formControlName="phone">
            <label for="phone">Telephone</label>
        </span>
        <button type="submit">Ajouter</button>

    </form>




<!-- [
    {
        "idCarrier": 1,
        "name": "Aurensan",
        "streetOne": "2 Rue de l'ecureuil",
        "streetTwo": "15 Nid de l'ecureuil",
        "cityCode": "33320",
        "city": "le taillan medoc",
        "phone": "0556587272"
    }
] -->