<!-- NEW TABLE -->
<p-table [value]="allDelivery" selectionMode="single" [(selection)]="selectedDelivery"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Liste des livraisons
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id Livraison</th>
            <th>Date</th>
            <th>Livreur</th>
            <th>Client</th>
            <th>Nb Colis</th>
            <th>Poids</th>
            <th>Montant</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-delivery>
        <tr [pSelectableRow]="delivery">
            <td>{{delivery.idDelivery}}</td>
            <td>{{delivery.createDateDelivery}}</td>
            <td>{{delivery.carrier?.name}}</td>
            <td>{{delivery.customer?.customerNumber}}</td>
            <td>{{delivery.numberOfPackage}}</td>
            <td>{{delivery.weight}}</td>
            <td>{{delivery.price}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-delivery>
        <div style="text-align:left">
            <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>
<!-- END NEW TABLE -->
<p-dialog header="Delivery Details" [(visible)]="displayDialog" [focusOnShow]="false" showEffect="fade" [modal]="true"
    [style]="{width: '550px'}">
    <div class="ui-g ui-fluid" *ngIf="delivery">

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="createDateDelivery">Date Crea</label>
            </div>
            <div class="ui-g-8">
                <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="delivery.createDateDelivery" [inline]="false">
                </p-calendar>
            </div>
        </div>

        <!-- CARRIER SELECT -->
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="carrier">Livreur</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="carriers" [(ngModel)]="delivery.carrier" optionLabel="name" [showClear]="true"
                    placeholder="Livreur"></p-dropdown>
            </div>
        </div>
        <!-- END CARRIER SELECT -->

        <!-- CUSTOMER SELECT  -->
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="customer">Client</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="customers" [(ngModel)]="delivery.customer" optionLabel="customerNumber"
                    [showClear]="true" filter="true" placeholder="Client"></p-dropdown>
            </div>
        </div>
        <!-- END CUSTOMER SELECT -->

        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="numberOfPackage">Nb Colis</label>
            </div>
            <div class="ui-g-8">
                <p-spinner id="numberOfPackage" [(ngModel)]="delivery.numberOfPackage" [min]="1"></p-spinner>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="weight">Poids</label>
            </div>
            <div class="ui-g-8">
                <p-spinner id="weight" [(ngModel)]="delivery.weight" decimalSeparator="." [step]="0.25" precision="2" [formatInput]="true" ></p-spinner>
            </div>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
<app-printing></app-printing>